<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Capharnaüm de Solen{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('homepage') }}">Le Capharnaüm de Solen</a></h1>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
