{% extends 'base.html.twig' %}

{% block body %}
<main>
    <h2>{{ article.title }}</h2>
    <p class="article-details">Publié le {{ article.publicationDate|date("d/m/Y") }}</p>
    <p>{{ article.content|markdown_to_html }}</p>
</main>
{% endblock %}
